@model Vlerx.SampleService.Web.Customers.RelocationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section>Relocating Customer: @ViewBag.Name</section>
@using (Html.BeginForm("Relocate", "Customer", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(m=>m.NewAddress)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.NewAddress)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m=>m.NewPhoneNumber)
            </td>
            <td>
                @Html.TextBoxFor(m=>m.NewPhoneNumber)
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="right">
                <button type="submit">Relocate</button>
            </td>
        </tr>
    </table>
    @Html.HiddenFor(m=>m.CustomerId)
}