@model Vlerx.SampleService.Web.Customers.RelocationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<section>Renaming Customer: @ViewBag.Name</section>
@using (Html.BeginForm("Relocate", "Customer", FormMethod.Post))
{
    @Html.HiddenFor(m => m.CustomerId)
    <br/>
    @Html.LabelFor(m => m.NewAddress)
    @Html.TextBoxFor(m => m.NewAddress)
    <br/>
    @Html.LabelFor(m => m.NewPhoneNumber)
    @Html.TextBoxFor(m => m.NewPhoneNumber)
    <button type="submit">Relocate</button>
}